.shopBody{
    width: 100vw;
    height: 100vh;
}

.name{
    background-color: seagreen;
    padding: 10px;
    color: white;
    border-radius: 15px;
}

.tableOrder{
    width: 100%;
    background-color: antiquewhite;
}
.tableOrder tr th{
    padding: 10px;
}

.tableProduct{
    background-color: aliceblue;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.h1OrderList{
    background-color: seagreen;
    padding: 20px;
    color: white;
    border-radius: 15px;
    margin-top: 20px;
    text-align: center;
}

.backToMain{
    padding: 20px !important;
    margin: 0 auto;
}

.navbar{
    color: white !important;
}

.nav-link{
    transition-timing-function: ease-in;

    /* Quick on the way out */
    transition: 0.2s;
}
.nav-link:hover{
    color: white !important;
}
.productTable{
    width: 100%;
}
.productTable tr th{
    padding: 20px;
    background-color: #343A40;
    color: white;
}
.productTable tr td{
    padding: 15px;
}

.errorText{
    text-align: center;
    color: red !important;
    font-size: 48px !important;
    margin-top: 40px;
}

.showCartBody{
    width: 100vw;
    height: 100vh;
}

.loggedIn{
    color: red;
}

.adminTable tr th{
    padding: 20px;
}
.adminTable{
    background-color: aliceblue;
    width: 40%;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}